.all{
    background-color: rgb(238, 238, 238);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.top{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 3.5vh;
}

.title {
    color: #c86202;
}

.down {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: #fff;
    border-radius: 0.5vw;
}

.employees{
    border-bottom: 1px solid black;
}

.check {
    margin-top: 2.5vh;
    margin-bottom: 2vh;
    text-align: center;
}

.total{
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding-top: 0.5vh;
    margin-left: 1vw;
    font-size: large;
    text-align: center;
    font-weight: 400;
}

.tablaEmployees{
    margin-top: 1vh;
}

@media screen and (max-width: 800px) {
    .total{
        font-size:small;
        font-weight: 500;
    }
    .label{
        font-size:small;
    }
}