.all{
    display: flex;
    flex-direction: row;
    border-radius: 0.5vw;
}

.hora{
    font-size: 1.2rem;
    min-width: 1.2rem;
    text-align: center;
    width: 32%;
    margin-bottom: 5px;
}

.horasR{
    font-size: 1.2rem;
    width: 32%;
    text-align: center;
    color: #c82002;
}

.horasV{
    font-size: 1.2rem;
    width: 32%;
    text-align: center;
    color: green;
}

.delete{
    width: 4%;
    display: grid;
    place-content: center;
    margin-top: -6px;
    margin-left: -5px;
}

.deleteIcon:hover{
    cursor: pointer;
    color: gray;
}

@media screen and (max-width: 900px) {
    .hora{
        font-size: 1rem;
    }
    .horasR{
        font-size: 1rem;
    }
    .horasV{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .hora{
        font-size: 0.9rem;
    }
    .horasR{
        font-size: 0.9rem;
    }
    .horasV{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 450px) {
    .hora{
        font-size: 0.8rem;
    }
    .horasR{
        font-size: 0.8rem;
    }
    .horasV{
        font-size: 0.8rem;
    }
}
