.form{
    margin-top: 2vh;
}

.div1 {
    margin-bottom: 1vh;
}

.label1 {
    width: 40%;
    text-align:start;
    font-size: medium;
    padding-left: 25%;
}

.input1 {
    margin-left: 2%;
    width: 33%;
    border-radius: 0.5vh;
    border: 1px solid black;
}

.inputFecha{
    margin-left: 2%;
    border-radius: 0.5vh;
    border: 1px solid black;
}

.errorInput{
    margin-left: 2%;
    width: 33%;
    border: 1px solid #c82002;
    border-radius: 0.5vh;
}

.errorInputFecha{
    margin-left: 2%;
    border: 1px solid #c82002;
    border-radius: 0.5vh;
}

.error{
    color: #c82002;
    font-size: 11px;
    margin-left: 42%;
}

.divBtn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.btnConfirm {
    margin-top: 2vh;
    width: 48%;
    margin-right: 4%;
    background-color: #c86202;
    color: white;
    border: 1px solid #c86202;
    border-radius: 0.5vh;
    cursor: pointer;
}

.btnConfirm:disabled{
    margin-top: 2vh;
    margin-bottom: 1vh;
    cursor: text;
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

.btnConfirm2 {
    margin-top: 2vh;
    width: 48%;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 0.5vh;
    cursor: pointer;
}

.btnConfirm2:disabled{
    margin-top: 2vh;
    margin-bottom: 1vh;
    cursor: text;
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

.btn1 {
    margin-top: 2vh;
    width: 48%;
    margin-right: 4%;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 0.5vh;
    cursor: pointer;
}

.btn2 {
    margin-top: 2vh;
    width: 48%;
    background-color: #c82002;
    color: white;
    border: 1px solid #c82002;
    border-radius: 0.5vh;
    cursor: pointer;
}

.btn3 {
    margin-top: 2vh;
    width: 48%;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 0.5vh;
    cursor: pointer;
}

.label2 {
    width: 50%;
    text-align:start;
    font-size: medium;
    padding-left: 25%;
}

.campo{
    font-weight: 500;
}


@media screen and (max-width: 1100px){
    .label1 {
        width: 40%;
        text-align:start;
        font-size: small;
        padding-left: 20%;
    }

    .label2 {
        font-size: small;
        padding-left: 20%;
    }
    
    .input1 {
        margin-left: 2%;
        width: 40%;
        border-radius: 0.5vh;
        border: 1px solid black;
    }
    
    .inputFecha{
        margin-left: 2%;
        border-radius: 0.5vh;
        border: 1px solid black;
    }
    
    .errorInput{
        margin-left: 2%;
        width: 40%;
        border: 1px solid #c82002;
        border-radius: 0.5vh;
    }
    
    .errorInputFecha{
        margin-left: 2%;
        border: 1px solid #c82002;
        border-radius: 0.5vh;
    }
    
    .error{
        color: #c82002;
        font-size: 11px;
        margin-left: 42%;
    }
    
    .divBtn{
        width: 62%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }
}
