.all{
    background-color: rgb(238, 238, 238);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.top{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.title {
    color: #c86202;
}

.down {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
    background-color: #fff;
    border-radius: 0.5vw;
}

@media screen and (max-width: 800px) {
    .down {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .down {
        width: 80%;
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    .down {
        width: 92%;
        font-size: small;
    }
}